<div>
  <h3 mat-dialog-title>Ventana de diálogo</h3>

  <div mat-dialog-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda atque autem, consequatur corporis cupiditate deleniti, eaque hic in itaque mollitia nulla quaerat quas rerum sit ut veniam voluptas voluptatum?
    </p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Ok</button>
    <button mat-raised-button mat-dialog-close color="accent">Cancelar</button>
  </div>
</div>
